<ul>
  <li>
    <p>General</p>
    <ul>
      <li>Name: <%= user.login %></li>
      <li>
        <form action="/profile" method="post">
          <label for="password">Reset Password:</label>
          <input type="password" name="password">
          <input type="submit" value="Reset">
        </form>
      </li>
    </ul>
  </li>
  <li>
    <p>Game specific</p>
    <ul>
      <li>Games played: <%= user.rP %></li>
      <li>Games won: <%= user.rW %></li>
      <li>Games lost: <%= user.rL %></li>
      <li>Wins per lose: <%= user.WPL %></li>
    </ul>
  </li>
</ul>